.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.group:hover .swiper-button-next,
.group:hover .swiper-button-prev {
  opacity: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
  font-weight: bold;
}
